<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Framework</title>
</head>
<body>
<h1>book list</h1>
<table>
    <tr>
        <th>
            id
        </th>
        <th>title</th>
        <th>publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">123</td>
        <td th:text="${book.publisher.name}">123</td>

    </tr>
</table>
</body>

</html>